.header-container {
  align-items: center;
  background-color: var(--primary-yellow);
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;
}

.header-container h3 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
