.form-container {
  align-items: center;
  background: linear-gradient(to bottom, var(--primary-yellow), var(--primary-red));
  display: flex;
  flex-direction: column;
  height: 720px;
  justify-content: space-around;
  width: 360px;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-container h2 {
  font-size: 32px;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
  width: 100%;
}

.input-container input {
  border: 2px solid #72757e;
  border-radius: 8px;
  height: 50px;
  padding: 8px;
  width: 293px;
}

.button-login button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font: var(--text-black);
  font-size: 30px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  width: 293px;
}

.button-login button:hover {
  background-image: linear-gradient(to right, var(--primary-yellow), var(--primary-red));
  background-position: 100% 0;
  box-shadow: 0 4px 15px 0 var(--primary-yellow);
  transition: all 0.4s ease-in-out;
}

.button-login button:focus {
  outline: none;
}

.button-login button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
