.button-container {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-around;
  width: 100%;
}

.button-container button {
  background-color: #fffcae;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font: var(--text-black);
  font-size: 12px;
  font-weight: 600;
  height: 35px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  width: 95px;
}

.button-profile button {
  background-color: #fffcae;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font: var(--text-black);
  font-size: 22px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  width: 293px;
}

.button-container button:hover {
  background-image: linear-gradient(to right, var(--primary-yellow), var(--primary-red));
  background-position: 100% 0;
  box-shadow: 0 4px 15px 0 var(--primary-yellow);
  transition: all 0.4s ease-in-out;
}

.recipe-container {
  display: flex;
  height: 200px;
  margin: 10px;
  width: 140px;
}

.recipe-container a {
  text-decoration: none;
}

.body-container {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  justify-content: space-around;
  margin-bottom: 60px;
  overflow-y: auto;
  width: 100%;
}

.body-container::-webkit-scrollbar {
  display: none;
}

.email-container {
  font: var(--text-black);
  font-size: 25px;
  font-weight: 600;
  height: 50px;
  margin-top: 15px;
  text-align: center;
}

.profile-container {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 640px;
}

.button-profile {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
}

.button-profile button:hover {
  background-image: linear-gradient(to right, var(--primary-yellow), var(--primary-red));
  background-position: 100% 0;
  box-shadow: 0 4px 15px 0 var(--primary-yellow);
  transition: all 0.4s ease-in-out;
}

.button-profile button:focus {
  outline: none;
}

.button-profile button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
