:root {
  --primary-yellow: #FEF84C;
  --primary-red: #FB6962;
  --background-color: #FEF6E4;
  --text-black: #000000;
  width: 360px;
  height: 640px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 360px;
  width: 640px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
} 

img {
  max-width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}